
  
  /* Add other styles for your footer content as needed */
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%; /* Take the entire width of the parent */
    background-color: white;
    opacity: 0.6;
    display: flex;
    align-items: center;
    padding: 5px 20px; /* Adjust padding as needed */
    z-index: 100;
  }
  
  .footerContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }